@model Mooshak2.Models.ViewModels.TeachersAssignment
@{
    ViewBag.Title = "CreateNewAssignment";
}

<h2>CreateNewAssignment</h2>

    @using (Html.BeginForm("Create", "Assignment", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="courseSelect">Your courses</label>
    <select id="courseSelect" name="courseSelect" class="form-control">
        @foreach (var c in Model.courses)
        {
            <option value="@c.Id">@c.name</option>
        }
    </select>
    <label for="assignmentName">Assignment Name </label>
    <input type="text" required class="form-control" id="assignmentName" name="assignmentName"  /><br />
    <label for="close">End of assignment</label>
    <input type="datetime"  required class="form-control" id="close" name="close"/><br />
    <label for="pdf">Description(.pdf)</label>
    <input type="file" required name="file" class="form-control"id="pdf" /><br />
    <label for="noOfMilestones">Number of Milestones</label>
    <input type="number" class="form-control" id="noOfMilestones" name="noOfMilestones"value="1" min="1">
    <input type="button"class="form-control" onclick="addMilestones()" value="Add milestones">
        <style>
            .milestones {
                position:absolute;
                margin-left:40%;
                margin-top:-43%;
                width:50%;
            }
        </style>
    <div class="panel-group milestones" id="accordion">
       
    </div>


    <input type="submit" id="submit" class="form-control"value="Create Assigment"/>
    }

