@{
    ViewBag.Title = "Mooshak 2.0";
}
<h2>@ViewBag.Title.</h2>

<p>Mooshak 2.0 er hannað fyrir Háskólann í Reykjavík. Mooshak er hannað fyrir kennara og nemendur.
    Fyrir nemandann snýst þetta um að hafa tól þar sem verkefnið er hlaðið inn á síðuna og fær þar 
    skilaboð hvort hann hafi 
    leyst verkefnið eður ei. Fyrir kennarann er þetta tól til þess að gefa nemendum tækifæri í að
     geta borið saman lausn hans við lausn nemendans. Þetta á að auðvelda yfirferð kennarans á verkefnum 
    og á að gera þeim kleift að geta skilað fyrr af sér einkunnunum og athugasemdum. </p>
