@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<a class="btn btn-info" href="~/Course/Create">Create a new course</a>
<br />
<br />
<a class="btn btn-info" href="~/Account/CreateUser">Create a new user</a>
