<!DOCTYPE html>
@{
    ViewBag.Title = "Hópur 6";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<html>
<body>

<table id="tableMembers" border="1" style="width:50%" cellpadding="10">
  <tr>
     <td><img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/1453383_10151805891393129_230966702_n.jpg?oh=04826d663f1bf214fb813ec39f6b1a77&oe=57B3A3E2" alt="W3Schools.com" style="width:100px;height:100px;"></td>
    <td>Brynjar Þór Björnsson</td>	
    <td><a href="mailto:brynjar14@ru.is?Subject=Hello%20again" target="_top">brynjar14@ru.is</a></td>
  </tr>
  <tr>
      <td><img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/1001129_10202113910988795_861655346_n.jpg?oh=6fc84854dd26bbf7487fa7f6e3bbf218&oe=57E1FF6E" alt="W3Schools.com" style="width:100px;height:100px;"></td>
    <td>Fannar Þór Ragnarsson</td>		
    <td><a href="mailto:fannar15@ru.is?Subject=Hello%20again" target="_top">fannar15@ru.is</a></td>
  </tr>
    <tr>
        <td><img src="https://i.warosu.org/data/cgl/img/0063/53/1351284072660.jpg" alt="W3Schools.com" style="width:100px;height:100px;"></td>
        <td>Friðrik Þór Hjálmarsson</td>
        <td><a href="mailto:fridrik14@ru.is?Subject=Hello%20again" target="_top">fridrik14@ru.is</a></td>
    </tr>
  <tr>
      <td><img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/12733571_10208255496601926_7348165481643897194_n.jpg?oh=627c3e12322b10f8b7468c674f064a0e&oe=57A5BA02" alt="W3Schools.com" style="width:100px;height:100px;"></td>
    <td>Gunnlaugur Kristinn Hreiðarssonn</td>
    <td><a href="mailto:gunnlaugur15@ru.is?Subject=Hello%20again" target="_top">gunnlaugur15@ru.is</a></td>
  </tr>
  <tr>
    <td><img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/12308338_10206929813036119_4583139848016696920_n.jpg?oh=f63a42bd4bcccb92fc727d3edf13b020&oe=57E31088" alt="W3Schools.com" style="width:100px;height:100px;"></td>
    <td>Hjálmar Örn Hannesson </td>
    <td><a href="mailto:hjalmarh15@ru.is?Subject=Hello%20again" target="_top">hjalmarh15@ru.is</a></td>
  </tr>
   <tr>
      <td><img src="https://scontent-ams3-1.xx.fbcdn.net/v/t1.0-9/576294_3783665425591_730799881_n.jpg?oh=d9987e5df7908469867adb1639d3b66e&oe=57E2581D" alt="W3Schools.com" style="width:100px;height:100px;"></td>
      <td>Indriði Kristjánsson </td>
      <td><a href="mailto:indridi09@ru.is?Subject=Hello%20again" target="_top">indridi09@ru.is</a></td>
   </tr>
</table>

</body>
</html>