<!DOCTYPE html>
@{
    ViewBag.Title = "Error403";
}
<html>
<head>
    <h2>Error403 FORBIDDEN TITS OR GTFO</h2>
</head>
    
<body>
    <img src="~/Content/Logo/403.jpg" width="650" height="500" alt="this is an 403 error gtfo" />
</body>

</html>