@{
    ViewBag.Title = "Welcome to Mooshak 2.0";
}
@if (!(Request.IsAuthenticated))
{
    <div class="page-header">
        <h1 class="text-center">@ViewBag.Title</h1>

    </div>
    <div id="Logo">
        <img src="~/Content/Logo/mooshaklogofixed.png" alt="Mooshaklogo on this mane" width="250" height="250" />
    </div>

    
}


