@model List<Mooshak2.Models.ViewModels.CourseViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Welcome to Mooshak 2.0";
}
@{
    string a = User.Identity.Name.ToString();
    int symbol = a.IndexOf('@');
    string b = a;
    if (symbol != -1)
    {
        b = a.Substring(0, symbol);
    }
}

<div class="page-header">
    <h1>Welcome, @b !</h1>
</div>



<form method="POST" id="courseForm">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Choose a course</legend>
        <select class="form-control" id="courses" name="courses">
            <option>Choose a course</option>
            @if (Model.Count == 0)
            {
                <p>You are not registered in any courses. Contact your teacher!</p>
            }
            @foreach (var course in Model)
            {
                <option name="@course.ID" id="@course.ID">@course.name</option>
            }
        </select>


        <div class="resize">
            <div class="list-group" id="assignments">
            </div>
        </div>
    </fieldset>
</form>
@if (User.IsInRole("Teachers"))
{
    <div class="resize">
        <div class="list-group">
            <a href="~/Assignment/Create" class="list-group-item">Create an Assignment</a>
        </div>
    </div>
}