@model Mooshak2.Models.EditCourseModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit/Delete Courses</h2>
<div>
    <select class="form-control">
        <option>Select Course</option>
        @foreach (var course in Model.courses)
        {
            <option name="@course.ID" id="@course.ID">@course.Name</option>
        }
    </select>
</div>
<div>
    <br />
    <label for="TeacherName">Teacher to add/remove</label>
    <input type="text" class="form-control" id="TeacherName" />
    <br />
    <input type="submit" value="Add" class="btn btn-default" id="AddTeacher"/>
    <input type="submit" value="Delete" class="btn btn-default"  id="RemoveTeacher"/>
    <br />
    <br />
        <label for="StudentName"> Student to add/remove </label>
        <input type="text" class="form-control" id="StudentName" />
        <br />
        <input type="submit" value="Add" class="btn btn-default" id="AddStudent" />
        <input type="submit" value="Delete" class="btn btn-default" id="DeleteStudent" />
    </div>   
<div>
    <br />
    <input type="submit" value="Delete course" class="btn btn-default" id="DeleteCourse"/>
</div>

