@model Mooshak2.Models.EditCourseModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit/Delete Courses</h2>
<div>
    <select class="form-control" id="EditSelect">
        <option value="-1">Select Course</option> 
        @foreach (var course in Model.courses)
        {
            <option name="@course.ID" value="@course.ID">@course.Name</option>
        }
    </select>
</div>
<div>
    <br />
    <label for="TeacherName">Teacher to add/remove</label>
    <input type="text" class="form-control" id="TeacherName" />
    <br />
    <input type="button" value="Add" class="btn btn-default" id="AddTeacher" onclick="AddTeacher()"/>
    <input type="button" value="Delete" class="btn btn-default"  id="RemoveTeacher" onclick="DeleteTeacher()"/>
    <br />
    <br />
    <label for="StudentName"> Student to add/remove</label>
    <input type="text"  class="form-control" id="StudentName"/>
    <br />
    <input type="button" value="Add" class="btn btn-default" id="AddStudent" onclick="AddStudent()"/>
    <input type="button" value="Delete" class="btn btn-default" id="DeleteStudent" onclick="DeleteStudent()"/>    
</div>
<div>
    <br />
    <input type="button" value="Delete course" class="btn btn-default" id="DeleteCourse" onclick="DeleteCourse()"/>
</div>

@*Aldrei nota submit nema þú sért að nota form!*@